# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# quartus

*.bak
db
simulation
incremental_db
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.cdf
*.pin
*.pof
*.qws
*.log
*.chg
output_files
.sopc_builder
sopc_builder_log.txt
nios_system_log.txt
*.html
*.bsf
*.ptf.*
.metadata
*.elf
*.map
*.objdump
*.swp
*.a
nios_workspace
custom_soc
.qsys_edit
RemoteSystemsTempFiles
mem_init

# custom folders

build
obj

# clangd LSP files

compile_commands.json
.cache
.vscode